/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
composer.lock
ftpsync.settings
#ignorar recursos que genera gulp
public/plugins/
npm-debug.log
public/js/*
public/css/*
public/images/avatars/*