.iconos-foro{
	font-family: icon-foro;
}

.skin-blue{
	.main-header{
		.navbar{
			background-color: #004EA4;
		}
		.logo{
			background-color: #003A81;
		}
		.logo-lg{
			padding-right: 16%;
			img{
				width: 107px;

			}
		}
	}


	.main-sidebar{
		background-color: #002E60;
		color: white;
		.user-panel{
			margin-top: 15%;
			margin-bottom: 10%;
		}
		.sidebar-menu {
			li{
				&:hover > a{
				background-color: #002143;
				color: white;
				}
				&:active > a{
					background-color: #002143;
					color: white;
				}

			}
			
		}
		
	}
	.main-footer{
		background-color: #15BAEE;
		color: white;
		font-weight: normal;
		a{
			color: white;	
		}
	}

}  