body{
	font-family: 'Ubuntu', sans-serif;

}

.fuente-icon{
	font-family: 'iconforo';
	font-size: 18px;
	font-style: normal;
}

.skin-blue{
	.main-header{
		.navbar{
			background-color: #004EA4;
		}
		.logo{
			background-color: #003A81;
		}
		.logo-lg{
			padding-right: 16%;
			img{
				width: 107px;

			}
		}
	}

	.main-sidebar{
		background-color: #002E60;
		color: white;
		font-size: 14px;
		.user-panel{
			margin-top: 15%;
			margin-bottom: 10%;
		}
		.sidebar-menu {
			li{
				&:hover > a{
				background-color: #002143;
				color: white;
				}
				&:active > a{
					background-color: #002143;
					color: white;
				}

			}
			.treeview{
				span{
					margin-left: 5%;
				}
			}
			
		}
		
	}
	.main-footer{
		background-color: #15BAEE;
		color: white;
		font-weight: normal;
		a{
			color: white;	
		}
	}

}  