// Estados Datatable
.estado-1-1{
	background-color: $estado-realizado;
}
.estado-1-2{
	background-color: $estado-espera;
}
.estado-1-3{
	background-color: $estado-at-cuentas;
}
.estado-2-1{
	background-color: $estado-ongoing;
}
.estado-2-2{
	background-color: $estado-en-espera;
}
.estado-3-1{
	background-color: $estado-alta;
}
.estado-3-2{
	background-color: $estado-media;
}
.estado-3-3{
	background-color: $estado-baja;
}