// Botones
/* .btn{
	padding: 2px 12px;
} */
// Estados Datatable
.estado-1-1{
	background-color: $estado-realizado;
}
.estado-1-2{
	background-color: $estado-espera;
}
.estado-1-3{
	background-color: $estado-at-cuentas;
}
.estado-2-4{
	background-color: $estado-ongoing;
}
.estado-2-5{
	background-color: $estado-en-espera;
}
.estado-3-6{
	background-color: $estado-alta;
}
.estado-3-7{
	background-color: $estado-media;
}
.estado-3-8{
	background-color: $estado-baja;
}

// Bordes
.box {
	.border-right{
		border-right: 1px solid $borde-gris;
	}
	.border-left {
	  	border-left: 1px solid $borde-gris;
	}
}

// Multiselect

.multiselect__option--highlight{
	background-color: $azul-claro !important;
}
.multiselect__option--selected,
.multiselect__option--selected.multiselect__option--highlight{
	background-color: $azul-profundo !important;
	color:#fff !important;
}