.tarea{
	.input-group.date{
		.datepicker {
		padding: 0 12px;
		input{
			width: 100%;
			text-align: center;
			margin-left:0;
			height: 100%;
			margin-top: 0;
			border: 0;
		}	
		}

	}
}
.label-estado{
	display: block;
	padding: 1px 5px;
	height: 22px;
	font-size: 12px;
	width: 100%;
	border-radius: 0;
	line-height: 1.5;
	font-weight: 300;
}
#tabla_tareas{
	thead th{
		text-align: center;
		background-color: $azul-profundo;
		color:$font-blanco;
	}
	td{
		text-align: center;
		color:$font-gris;
	}
}