
// Crear Tarea
.tarea{
	padding: 15px;
	.multiselect{
		border-radius: 0;
		min-height: 25px;
		height: 23px;
		padding: 0;
		input{
			height: 22px;
		}
		.multiselect__tags{
			min-height: 25px;
			height: 25px;
			padding-top:0;
			border-radius: 0;
		}
		.multiselect__select{
			min-height: 25px;
			height: 25px;
			&:before{
				color:$azul-claro;
				border-top-color: $azul-claro;
			}
		}
	}
	.input-group-addon{
		padding: 4px 10px;
	}
	.form-control{
		border-radius: 0;
	}
	input{
		height: 25px;
	}
	.input-group.date{
		.datepicker {
			padding: 0 12px;
			height: 25px;
			position: relative;
			input{
				width: 100%;
				text-align: center;
				margin-left:0;
				height: 100%;
				margin-top: 0;
				border: 0;
			}
			&:before{
				content: " ";
				display: block;
				position: absolute;
				top: 10px;
				right: 10px;
				border-style: solid;
			    border-width: 5px 5px 0;
			    border-color: $azul-claro transparent transparent;
			}
		}
	}
	.prioridad{
		.multiselect__element{
			color:#fff;
			&:nth-child(1){
				background-color: $estado-alta;
			}
			&:nth-child(2){
				background-color: $estado-media;
			}
			&:nth-child(3){
				background-color: $estado-baja;
			}
		}
	}
}
.label-estado{
	display: block;
	padding: 1px 5px;
	height: 22px;
	font-size: 12px;
	width: 100%;
	border-radius: 0;
	line-height: 1.5;
	font-weight: 300;
}
.datatable-foro{
	thead th{
		text-align: center;
		background-color: $azul-profundo;
		color:$font-blanco;
	}
	td{
		text-align: center;
		color:$font-gris;
	}
}

.footer_tarea{
	position: absolute;
	width: 100%;
	bottom: 0;
}
.desc-ot{
	padding: 0 0 25px;
	margin-bottom: 40px;
	strong{
		color:$azul-claro;
	}
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			margin: 7px 0;
		}
	}
}
.with-border{
	border-bottom: 1px solid $borde-gris;
}
//Ver tarea
.ver_tarea{

	padding: 70px;
	.desc-ot{
		padding-bottom: 15px;
	}
	textarea{
		min-height: 200px;
	}
	label{
		color:$azul-claro;
	}
	.prioridad_btn{
		display: block;
		width: 100px;
		background-color: #fabb00;
		color: white;
		border:  none;
		&:disabled{
		 background-color: #fabb00;
		 color: white;
		 opacity: 1;
		}
	}
	.multiselect__select{
		min-height: 33px !important;
	}
	.multiselect__tags{
		height: 35px !important;
	}
	.multiselect__input{
		height: 30px !important;
	}
	.multiselect__single{
		padding-top: 5px !important;
	}
	.tiempo_estimado{
		height: 35px;
	}
}
